body {
    font-size: .875rem;
}

h2 {
    margin-bottom: 20px;
}

h6 {
    text-align: center;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}


/*
   * Sidebar
   */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}


/*
   * Navbar
   */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.frmSearch {
    border: 1px solid #fff;
    background-color: #fff;
    margin: auto;
    padding: 12px;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
}

.search-box {
    padding: 10px;
    border: #b7b7b7 1px solid;
    border-radius: 4px;
    margin: auto;
    width: 100%;
}

.suggestion-list {
    float: left;
    list-style: none;
    margin-top: -3px;
    padding: 0;
    width: 190px;
    position: absolute;
}

.suggestion-list li {
    padding: 10px;
    background: #f0f0f0;
    border-bottom: #bbb9b9 1px solid;
}

.suggestion-list li:hover {
    background: #ece3d2;
    cursor: pointer;
}

.div-category {
    padding: 5px;
    width: auto;
}

#main-companies {
    /* display: none; */
}

#company-form {
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 10px #E0E0E0;
    /* display: none; */
}

#company-category {
    padding: auto;
    width: auto;
}

#company-link {
    padding: 5px;
    width: auto;
}

#main-summary {
    /* display: none; */
}

#summary-category-title {
    margin: 25px;
    padding: 5px;
    background: #f1faea;
}

#mask-wcloud-pos {
    /* display: none; */
}

#mask-wcloud-neg {
    /* display: none; */
}

#main-categories {
    /* display: none; */
}

#category-name-text {
    font-size: 18px;
}

.row-wordcloud {
    text-align: center;
}

#current-task {
    margin: 5px;
}

.btn {
    width: 100px;
}

#logo_trustpilot {
    width: 200px;
}

.logo_simplon {
    width: 100px;
    margin: auto;
}

#company-logo {
    margin: 5px;
    max-width: 120px;
    max-height: 120px;
}

#footer {
    font-size: small;
    font-style: italic;
    float: right;
}


/* Stars and ratings */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
#company-stars {
    text-align: center;
}

#company-stars-text {
    font-size: 50px
}

.stars i {
    font-size: 18px;
    color: #28a745;
}

.rating-text {
    margin-top: 5px;
}